.titleBold {
  height: 40px;
}

.slider {
  position: relative;
  margin: 0 auto;
  width: 220px;
}

.img {
  width: 220px;
  height: 120px;
  border-radius: 3px;
  border: 2px solid #dadcdf;
  margin-bottom: 10px;
  display: initial !important;
}

.ImageView {
  position: relative;
}

.round_btn {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #333; /* 枠の調整 */
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}

.round_btn::before,
.round_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #333; /* バツ印の色 */
}

.round_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.round_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.batsu {
  position: absolute;
  left: 230px;
  top: 33px;
  font-size: 100%; /*ボタンの大きさ*/
  font-weight: bold;
  background-color: #111;
  border: 1px solid #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
  transition: 0.2s;
}

.batsu:hover {
  background: #666;
  border-color: #666;
  color: #fff;
}

.toumei {
  overflow: hidden;
  width: 220px;
  height: 120px;
  border: 2px solid #dadcdf;
  margin: 0 auto;
}

.toumei2 {
  position: absolute;
  width: 220px;
  height: 120px;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none;
}

.toumei3 {
  position: absolute;
  width: 220px;
  height: 120px;
  top: 0;
  left: 0;
  border: none;
}

.zoomImgSection {
  background-repeat: no-repeat;

  width: 220px;
  height: 120px;
}
