.titleBold {
  /* font-weight: bold;
  font-size: 17px; */
  /* margin-bottom: 20px; */
  height: 40px;
  /* background-color: aqua; */
}

/* .imgDiv {
  
} */

.slider{
  position: relative;
  margin: 0 auto;
  width : 220px;
  /* text-align: center; */
}

.img {
  width: 220px;
  height: 120px;
  border-radius: 3px;
  border: 2px solid #DADCDF;
  margin-bottom: 10px;
  display: initial !important;
}

/* .slick-prev:before, .slick-next:before {
  position: relative !important;
  left: 30px !important;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
} */

.ImageView {
  /* height: 155px; */
  position: relative;
  /* background-color: rosybrown; */
  /* width: 250px; */
  /* float: left; */
  /* margin-right: 5px; */
}

.round_btn {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #333; /* 枠の調整 */
  border-radius: 50%; /* 丸みの度合い */
  background: #fff; /* ボタンの背景色 */
}

.round_btn::before,
.round_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* 棒の幅（太さ） */
  height: 22px; /* 棒の高さ */
  background: #333; /* バツ印の色 */
}

.round_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.round_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.batsu {
  position: absolute;
  left: 230px;
  top: 33px;
  /* bottom: 150px; */
  /* width: 400px;
  height: 200px; */

  font-size: 100%; /*ボタンの大きさ*/
  font-weight: bold;
  background-color: #111;
  border: 1px solid #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.3em;
  line-height: 1.3em;
  cursor: pointer;
  transition: 0.2s;
}

.batsu:hover {
  background: #666;
  border-color: #666;
  color: #fff;
}

.toumei {
  /* position: relative; */
  overflow: hidden;
  width: 220px;
  height: 120px;
  border: 2px solid #DADCDF;
  margin: 0 auto;
  /* cursor: zoom-in */
}

.toumei2 {
  position: absolute;
  width: 220px;
  height: 120px;
  top: 0;
  left: 0;
  opacity: 1;

  /* width: 100%; */
  /* display: block; */
  pointer-events: none;
}

.toumei3 {
  position: absolute;
  width: 220px;
  height: 120px;
  top: 0;
  left: 0;
  border: none;
  /* opacity: 0.3; */
}

.zoomImgSection {
  background-repeat: no-repeat;
  
  width: 220px;
  height: 120px;
}