# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/val
/heatmaps.q1000.20211226
/heatmaps.q1000.20220103
/heatmaps.q1000.20220103.zip
/.pnp
.pnp.js
